/*Removes tags from posts */
.attribution-tags {
  display: none;
}

/* Sticky footer*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4%;
}
.push {
  height: 4%;
}
.footer {
  clear: both;
  height: 20%;
  padding: 4% 20% 4% 20% ;
  background-color:#1E2422;
}
.alignLeft {
  float:left;
  color: #F6F6F6;
}
.alignRight {
  float:right;
}
